.userList {
  display: flex;
  border: 1px solid grey;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  box-shadow: 5px 10px 8px 10px #e3dbec;
  margin-bottom: 20px;
  margin-top: 20px;
}

.desc {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  cursor: pointer;
}

.img {
  width: 20%;
  margin: 0 auto;
  padding-top: 20px;
}

.button {
  margin: 0 auto;
  padding: 10px;
}

button {
  color: purple;
  font-size: 13px;
  cursor: pointer;
}
