.feed {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  border: 1px solid grey;
  box-shadow: 5px 10px 8px 10px #c2b1d6;
}

.feedComp {
  margin: 30px;
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid purple;
  padding-left: 20px;
  justify-content: center;
}

.newPost {
  display: flex;
  justify-content: center;
}

.post img {
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
}

.heart {
  width: 20%;
  color: grey;
}

.grey {
  color: grey !important;
}

.red {
  color: red !important;
}

