body {
  margin: 0;
}

.navbar {
  display: flex;
  background-color: rgb(151, 61, 235);
  justify-content: space-around;
  color: white;
  flex-direction: row;
  text-align: center;
  align-content: center;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

li {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
