.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid grey;
  width: 50%;
  height: 100%;
  box-shadow: 5px 10px 8px 10px #c2b1d6;
  cursor: pointer;
}

img {
  width: 200px;
  padding: 10px;
}

button {
  margin-bottom: 10px;
}
